#pagina_adelante{
	position: absolute;
	top:105px;
	left:44px;
	cursor:pointer;

}

#Cargando {
	position:absolute;
	top:240px;
	text-align: center;
	font-weight:900;
	margin:15px 15px;
	border-bottom: solid 2px;
	border-right: solid 2px;
	border-top: solid 1px;
	border-left: solid 1px;
	padding:15px 25px;
	background-color: #FFFFCC;
	width: 20%;
	left: 340px;
	visibility:hidden;
}
